:host {
 padding: 5px;
}
.item-card{
  min-width: 545px;
  min-height: 180px;
}

.item-title{
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 60px;
}
.item-description{
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 60px;
}
