
<h2>My news</h2>
<mat-form-field class="example-form-field">
  <mat-label>Search for news</mat-label>
  <input matInput type="text" [(ngModel)]="search">
  <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div *ngIf="!allNews||!allNews.length">
  No news to show, subscribe to news feed!
</div>
<mat-grid-list cols="2" rowHeight="200px">
  <mat-grid-tile *ngFor="let item of allNews | filterNews:search">
    <app-feed-item-card [feedItem]="item"  >

    </app-feed-item-card>
  </mat-grid-tile>
</mat-grid-list>
